body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  line-height: 1.2;
  font-size:16px;
  font-family:$font-family-body;
  font-weight: $font-regular;
  -webkit-print-color-adjust: exact !important;
}
*{
  margin:0;
  padding:0;
}
.font-family-title{
  font-family: $font-family-heading;
  line-height: 1.6;
}
.font-light{
  font-weight:300;
}
.text-medium{
  font-size:20px;
}
.text-medium-small{
  font-size:17px;
}
.text-uppercase{
  text-transform: uppercase;
}
.text-center{
  text-align:center;
}


.mb-10{
  margin-bottom:10px;
}
.mb-5{
  margin-bottom:6px;
}
.mb-20{
  margin-bottom:20px;
}
.mb-35{
  margin-bottom:35px;
}
.mt-10{
  margin-top:10px;
}
.mt-15{
  margin-top:15px;
}
.my-50{
  margin-top:50px;
  margin-bottom:50px;
}
.bg{
  &-blue{
    background-color: $color-blue;
  }
  &-red{
    background-color: $color-red;
  }
  &-olive{
    background-color: $color-olive;
  }
}
.color{
  &-blue{
    color: $color-blue;
  }
  &-red{
    color: $color-red;
  }
  &-olive{
    color: #77992a;
  }
}



.badge{
  &-wrapper{
    width:4in;
    height:3in;
    margin-left:auto;
    margin-right:auto;
    padding-top:5px;

    &.v1{
      .badge{
        &-body{
          font-size: 14px;
        }
        &-content{
          padding:5px 15px;
        }
      }
    }

    &.v2{
      .badge{
        &-body{
          position: relative;
        }
        &-logo{
          position: absolute;
          opacity: 0.4;
          right: 0;
          bottom: 33px;
        }
        &-content{
          position: relative;
          z-index: 9;
        }
        &-title{
          margin-bottom:35px;
        }

      }
    }

    &.v3{
      .badge{
        &-logo{
          background-color: #dfdfdf;
        }
        &-water-shadow{
          position: absolute;
          top:0;
          right: 0px;
          left: 0;
          bottom: 0px;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          opacity: 0.2;
          img{
            max-width: 20%;
            padding-top: 0;
            padding-bottom: 30px;
            padding-right: 10px;
          }
        }
      }
    }

    &.v4{
      .badge{
        &-body{

        }
        &-title{
          margin-bottom:3px;
          line-height: 1.2;
          font-size: 22px;
          font-weight: 500;
        }
        .font-family-title{
          line-height: 1.2;
        }
      }

      &.common{
        .badge{
          &-body{
            &-foot{
              text-align: center;
              .justify-space-between{
                justify-content: center;
              }
            }
          }
        }
      }
    }

    &.v5{
      .badge{
        &-body{
          text-align: center;
          //border:0;
        }
        &-logo{
          background-color: transparent;
        }
        &-content{

        }

        &-title{
          font-size:28px;
          line-height: 1;
          font-weight:600;
          .text-wrapper{
            white-space: nowrap;
          }
          &.attendee-name{
            padding-top:28px;
            position: relative;
            .text-wrapper{
              position: absolute;
              //left:0;
              //right:0;
              top:0;
            }
          }
        }

        &-foot{
          border-top:1px dashed #808080;
        }
      }
      &.style-2{
        .badge{
          &-body{
            border:0;
          }
        }
      }

      &.style-3{
        .badge{

          &-logo{
            img{
              max-height:110px;
            }
          }

          &-body{
            border:0;
          }
          &-foot{
            border:0;
          }
        }
      }
    }
  }
  &-body{
    position: relative;
    width: 4in;
    min-height: 3in;
    height: 3in;
    margin:0 auto;
    overflow: hidden;
    border:1px solid $color-border;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-logo{
      position: relative;
      img{
        max-height:190px;
        z-index: 9;
        position: relative;
      }
      .circle{
        position: absolute;
        top: 0;
        margin: 0 auto;
        width: 175px;
        height: 175px;
        border-radius: 50%;
        background: $color-red;
        left: 50%;
        transform: translateX(-50%);
      }

    }

    &-foot{
      padding: 5px 15px;
      border-top: 1px dashed #ddd;
    }
  }

  &-logo{
    //background: $color-bg-logo;
    text-align: center;
    padding: 6px 15px;
    img{
      max-width:150px;
      max-height:150px;
    }
  }

  &-content{
    padding:10px 15px;
  }

  &-title{
    font-family:$font-family-heading;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom:10px;
    font-weight: 500;
  }

  &-foot{
    padding:5px 15px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    //background-color: #dfdfdf;
    &-column{
      display: flex;
      align-items: center;
      img{
        max-height: 16px;
        margin-right:6px;
      }
    }
  }
}

.d-flex{
  display: flex;
}
.justify-space-between{
  justify-content: space-between;
}