$color-bg: #fff;
$color-border: #9b9b9b;
$color-font: #202020;
$color-red: #e91e63;
$color-blue: #03a9f4;
$color-olive: #4e5b30;
$color-bg-logo: $color-red;

$font-size-boxy: 18px;
$font-size-heading: 24px;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$font-family-heading: 'Oswald', sans-serif;
$font-family-body: 'Rubik', sans-serif;

$width-page-print: 4in;

